sudo: false

cache:
  rust: true
  directories:
    $HOME/.cargo/bin

language: rust

addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - binutils-dev
      - cmake
    sources:
      - kalakris-cmake

rust:
  - nightly
  - beta
  - stable

env:
  - PATH=$HOME/.cargo/bin:$PATH

before_script:
  - cargo install -q cargo-travis || true

script:
  - if [ "$TRAVIS_RUST_VERSION" = "nightly" ] ; then
      cargo test --all --features "nightly";
    elif
      cargo test --all --exclude "shio_macros" --exclude "hello_macros";
    fi

after_success:
  - cargo coveralls -p shio

matrix:
  allow_failures:
    - rust: nightly
